@charset "utf-8";
@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{margin:0;padding:0;box-sizing: border-box;}
a{text-decoration: none;color:inherit;}
body{line-height: 1;color:333;font-family: 'Pretendard';}
li{list-style: none;}

.header {width:100%;position:relative;z-index: 10;}
/* .header.on {transform: translateY(-100%);} */
.header .Hinner {
    width: 100%;
    /* width: calc(100% - 30px - 30px); */
    height: 100px;
    /* margin: 30px auto; */
    padding: 0 90px;
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    transition: .7s;
    transform: translateY(0);
}
.header .Hinner.on {transform: translateY(-120px);}
.header .Hinner figure {width: 160px;}
.header .Hinner .nav {font-weight: bold;}
.header .Hinner .nav ul {
    /* width: 1250px; */
    display: flex;
    justify-content: flex-end;
    
}
.header .Hinner .nav ul li {position: relative;}
.header .Hinner .nav ul li .depth01 {
    margin: 0 10px;
    padding: 20px 20px;
}
.header .Hinner .nav ul li .depth02 {
    position: absolute;
    left: 0;
    top: 40px;
    opacity: 0;
    background-color: #fff;
    display: block;
    border-radius: 25px;
    border: 1px solid #0070BD;
    transition: .5s;
}
.header .Hinner .nav ul li .depth02.on {opacity: 1;}
.header .Hinner .nav ul li .depth02 li {}
.header .Hinner .nav ul li .depth02 li a {
    display: block;
    width: 180px;
    padding: 20px 15px;
    text-align: center;
}
.header .Hinner .lang {
    position: relative;
}
.header .Hinner .lang a {
    padding: 30px;
    font-weight: bold;
}
.header .Hinner .lang .Ldepth02 {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 100px;
    top: 40px;
    /* display: none; */
    color: #0070BD;
    background-color: #fff;
    opacity: 0;
    z-index: 0;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0070BD;
    border-radius: 15px;
    font-weight: bold;
}
.header .Hinner .lang .Ldepth02.on {
    z-index: 9;
    opacity: 1;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.main-visual {
    width: 100%;
    height: 100vh;
}
.main-visual figure {
    position: absolute;
    left: 0;
    top: 0;
    transition: 1.2s;
    opacity: 0;
}
.main-visual .inner {
    width:100%;
    height: 100%;
    position: relative;
}
.main-visual figure.on {opacity: 1;}
.main-visual figure img {width: 100%;}
.main-visual figure .imgtext {
    position: absolute;
    left: 15%;
    top: 30%;
    color: #fff;
    z-index: 9;
    /* width: 100%; */
    height: 100%;
}
.main-visual figure .imgtext span {font-size: 80px;}
.main-visual figure .imgtext p {font-size: 24px;line-height: 3;}
.section01 {
    position: relative;
    /* background: url(../img/bg_mc02_01.jpg) center center / cover no-repeat; */
}
.section01 .bg div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.section01 .bg div.on {display: block;}
.section01 .bg .bg01 {background: url(../img/bg_mc02_01.jpg) center center / cover no-repeat fixed; transition: 1s;}
.section01 .bg .bg02 {background: url(../img/bg_mc02_02.jpg) center center / cover no-repeat fixed; transition: 1s;}
.section01 .bg .bg03 {background: url(../img/bg_mc02_03.jpg) center center / cover no-repeat fixed; transition: 1s;}
.section01 .bg .bg04 {background: url(../img/bg_mc02_04.jpg) center center / cover no-repeat fixed; transition: 1s;}
.section01 .inner {
    width: calc(100% - 190px - 190px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}
.section01 .inner .title {
    width: 30%;
    height: 100vh;
    color: #fff;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section01 .inner .title.on {position: sticky;left: 0;top: 0;}
.section01 .inner .title b {font-size: 18px;}
.section01 .inner .title h3 {font-size: 40px;margin-top: 20px;}
.section01 .inner .list {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    padding: 400px 0 400px;
}
.section01 .inner .list .item {
    width: 40%;
    height: 480px;
    padding: 42px 30px 35px;
    border-radius: 25px;
    background-color: #fff;
    transition: .5s;
}
.section01 .inner .list .item:nth-child(2) {margin-top: 230px;}
.section01 .inner .list .item:nth-child(3) {margin-top: -190px;}
.section01 .inner .list .item:nth-child(4) {margin-top: 50px;}
.section01 .inner .list .item.on {
    backdrop-filter: blur(10px);
    background-color: #ffffff00;
    color: #fff;
}
.section01 .inner .list .item.on .overview {color: #fff;}
.section01 .inner .list .item.on img {opacity: 1;}
.section01 .inner .list .item a {}
.section01 .inner .list .item a .overview {display: flex;justify-content: space-between;color:#0070BD;}
.section01 .inner .list .item a .overview b {font-size: 14px;}
.section01 .inner .list .item a .overview b:nth-child(2) {}
.section01 .inner .list .item a img {
    /* width: calc(100% - 130px); */
    height: 90px;
    margin: 40px 0 20px;
    opacity: 0;
}
.section01 .inner .list .item a figure {
    display: flex;
    justify-content: flex-start;
}
.section01 .inner .list .item a h4 {margin-bottom: 30px;font-size:26px;}
.section01 .inner .list .item a b {margin-bottom: 15px;display:block;font-size:18px;}
.section01 .inner .list .item a p {line-height: 1.6;font-size:15px;}
.section02 {
    width: 100%;
    height: 100vh;
    padding: 140px 175px 0;
}
.section02 b {font-size: 20px;}
.section02 h3 {font-size: 50px;margin: 20px 0 50px;}
.section02 .list2-inner {
    height: 380px;
}
.section02 .list2-inner .list2 {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.section02 .list2-inner .list2 figure {
    width: 31%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
}
.section02 .list2-inner .list2 figure li {
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 28px;
    color: #fff;
}
.section02 .list2-inner .list2 figure:nth-child(1) li {background: url(../img/img_mc02_02.jpg) center center / cover no-repeat ;}
.section02 .list2-inner .list2 figure:nth-child(2) li {background: url(../img/img_mc02_01.jpg) center center / cover no-repeat ;}
.section02 .list2-inner .list2 figure:nth-child(3) li {background: url(../img/img_mc02_03.jpg) center center / cover no-repeat ;}
.section02 .list2-inner .list2 figure li a {
    width: 100%;
    height: 100%;
    display: BLOCK;
    text-align: center;
    line-height: 380px;   
}
.section03 {
    width: 80%;
    margin: 0 auto;
    padding: 130px 0 140px;
}
.section03 .inner3 .title3 b {font-size: 20px;}
.section03 .inner3 .title3 h4 {font-size: 50px;margin-top:15px;}
.swiper .swiper-wrapper {}
.swiper .swiper-wrapper .swiper-slide {
    padding-top: 60px;
    display: flex;
}
.swiper .swiper-wrapper .swiper-slide .item {
    display: block;
    width: 320px;
    height: 380px;
    padding: 0 40px;
    margin: 0 7px;
}
.swiper .swiper-wrapper .swiper-slide .item .title {
    display: flex;
    justify-content: space-between;
}
.swiper .swiper-wrapper .swiper-slide .item .title b {font-size: 18px;}
.swiper .swiper-wrapper .swiper-slide .item .title img {}
.swiper .swiper-wrapper .swiper-slide .item p {
    font-size: 14px;
    margin-top: 20px;
    line-height: 1.7;
}
.swiper .swiper-wrapper .swiper-slide .item b {
    display: block;
    font-size: 18px;
    margin-bottom: 30px;
}
.swiper .swiper-wrapper .swiper-slide .item strong {
    display: block;
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 40px;
}
.swiper .swiper-wrapper .swiper-slide .item figure {
    border-radius: 15px;
    overflow: hidden;
}
.swiper .swiper-wrapper .swiper-slide .item figure img {
    width: 100%;
    height: 140px;
}
.swiper-button-next, .swiper-button-prev {
    width: 50px;
    top: 20px;
    position: relative; 
    
}